<!--I wrote this code-->

{% extends 'users/base.html' %}
{% load static %}

{% block body %}

<h2 class="text-xl m-8 font-bold">Chat Rooms (●'◡'●)</h2>
<div class="container m-5"> 

<!-- list all the chatroom name -->
{% for chatroom in chatrooms %}
    <div class="shadow-md p-10 m-10 bg-indigo-700 text-white text-xl text-center rounded-lg">
        <a href="{% url 'chatroom' chatroom.slug %}">{{ chatroom.name }}</a></br>
    </div>
{% endfor %}
</div>

{% endblock %}

<!-- end of code I wrote-->