<!--I wrote this code-->

{% extends 'users/base.html' %}
{% load static %}

{% block body %}

<!--Logout page-->
<div class="ml-20 p-5 justify-center">
<div class="user-container mx-5 my-5">
    <div class="text-2xl m-5"> Logout😊</div>
    <div class="mx-2 my-2 font-bold p-3">You have logged out! See You</div>
</div>

<p class="px-10 py-10"><a class="text-indigo-700" href="{% url 'login' %}">Login Here</a></p>
<p class="px-10"><a class="text-indigo-700" href="{% url 'register' %}">Register Here</a></p>
</div>
{% endblock %}

<!-- end of code I wrote-->