<!--I wrote this code-->

{% extends 'users/base.html' %}
{% block body %}
    <!--Reset password form-->
    <div class="container m-5"> 
        <h2 class="text-xl ml-10 font-bold">Reset password</h2>
        <form method="POST" class="bg-white shadow-md m-10 px-10 rounded pt-3 w-4/5" enctype="multipart/form-data">
            <div class="mb-2">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="bg-blue-700 text-white my-5 px-5 py-2">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

<!-- end of code I wrote-->
